.popup {
    margin-left: -3rem;
    margin-top: -3rem;
	padding: 0;
	border: 0;
	outline: 0;
    width:100%;
    height:100vh;
    position: fixed;
    background-color: rgba($color-black,0.8);
    z-index:9999;
    opacity:0;
    visibility:hidden;
    transition: all 0.2s;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    @supports ((-webkit-backdrop-filter: blur(10px)) or (backdrop-filter: blur(10px)) ){
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        background-color: rgba($color-black,0.3);
    }
    

    &:target {
        opacity:1;
        visibility: visible;
        
    }

    &:target &__content {
        transform: translate(-50%, -50%) scale(1);
        
    }

    &__close
     {
         &:link,
         &:visited {
             color: $color-grey-dark;
             position: absolute;
             top: 2.5rem;
             right: 2.5rem;
             font-size: 3rem;
             display: inline-block;
             text-decoration: none;
         }

         &:hover {
             color: $color-primary;
         }

    }

    &__content {
        overflow: hidden;
        position: absolute;
        width: 75%;
        background-color: $color-white;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%) scale(0.25);
        box-shadow: 0 2rem 4rem rgba($color-black,0.2);
        border-radius: 3px;
        display: table;
        transition: all 0.3s 0.2s;
        
    
        
        
    }

    &__left {
        padding: 0rem;
        width: 33.333333%;
        display:table-cell;
        vertical-align: middle;
        height: inherit;
      
    }

    &__right {
        width: 66.6666667%;
        display:table-cell;
        vertical-align: middle;
        padding: 3rem 5rem;
    }

    &__img {
        width: 100%;
        display: block;
    }

    &__text {
        font-size: 1.4rem;
        column-count: 2;
        column-gap: 4rem;
        column-rule: 2px solid $color-grey-light-1;

        -moz-column-count: 2;
        -moz-column-gap: 4rem;
        -moz-column-rule: 2px solid $color-grey-light-1;

        
        hyphens: auto;
        -moz-hyphens: auto;
        -ms-hyphens: auto;
        -webkit-hyphens: auto;
    }

    @include respond(tab-land) {
    margin-left: 0;
    margin-top: 0;
	padding: 0;
	border: 0;
	outline: 0;
    width:100%;
    height: 100%;
    position: fixed;
    background-color: rgba($color-black,0.8);
    z-index:9999;
    opacity:0;
    visibility:hidden;
    transition: all 0.2s;
    

    &:target {
        opacity:1;
        visibility: visible;
        
    }

    &:target &__content {
        transform: translate(-50%, -50%) scale(1);
        
    }

    &__close
     {
         &:link,
         &:visited {
             color: $color-grey-dark;
             position: absolute;
             top: 2.5rem;
             right: 2.5rem;
             font-size: 3rem;
             display: inline-block;
             text-decoration: none;
         }

         &:hover {
             color: $color-primary;
         }

    }

    &__content {
        overflow: hidden;
        position: absolute;
        width: 50%;
        height:70vh;
        background-color: $color-white;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%) scale(0.25);
        box-shadow: 0 2rem 4rem rgba($color-black,0.2);
        border-radius: 3px;
        display: block;
        
    }

    &__left {
        padding: 0rem;
        width: 100%;
        display:block;
        //vertical-align: middle;
        height: auto;
      
    }

    &__right {
        width: 100%;
        display:block;
        //vertical-align: middle;
        padding: 3rem 5rem;
        height: auto;
    }

    &__img {
        width: 30%;
        display: inline-block;
    }

    &__text {
        font-size: 1.4rem;
        column-count: 2;
        column-gap: 4rem;
        column-rule: 2px solid $color-grey-light-1;

        -moz-column-count: 2;
        -moz-column-gap: 4rem;
        -moz-column-rule: 2px solid $color-grey-light-1;

        
        hyphens: auto;
        -moz-hyphens: auto;
        -ms-hyphens: auto;
        -webkit-hyphens: auto;
    }
    }
}